* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

/* HEADER STYLES START */

header {
    padding: 20px;
    color: #fff;
    background-color: #242038;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    margin: 0;
    font-size: 50px;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 23px 0;
}

header nav ul {
    align-items: center;
    font-size: larger;
    justify-content:space-between;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    color: #fff;
    display: inline;
    border-right: 1px solid #8d87c9;
}

header nav ul li:last-child {
    border-right: none;
}

header nav ul li a {
    font-size:large;
    color: #fff;
    margin: 0 30px;
}

header nav ul li a:hover {
    border-bottom: 1px solid #8d87c9;
}

/* ABOUT SECTION BEGINS */

.austin {
    display: flex;
    background-color: #9067c6;
}

/* use in each section to keep border in line */
.left-set {   
    margin:25px;
    min-width:250px;
    max-width: 250px;
    height:250px;
    
}
/* comic-box reused in each section, add new background url for each section */
.comic-box {
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    background-size:cover;
}

.face {
    background-image: url(../images/austin.jpg);
}

.comic-box h2 {
    transform: rotate(2deg);
    margin:5px;
    padding:0 5px;
    float:right;
    background:#ddd;
    border:3px solid #222;
    box-shadow:3px 3px 0 #222;
}

.right-set {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    padding: 0 50px;
    text-align: left;
    border-left: 3px solid #242038;
}




/* START OF PROJECTS SECTION */

.showcase {
    background-color: #cac4ce;
    display: flex;
    align-items: flex-start;
}

.project-graphic {
    background-image: url(../images/projects-graphic.jpg);
}

.applications {
    max-width:100%;  
}

.applications img {
    width:30%;
    padding:15px;
    position:relative;
}

.applications img:first-child {
    width:100%;
}




.applications img:hover {
    opacity:0.5;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

.applications img:hover .rbtxt{
    visibility: visible;
    opacity:1;
}


/* CONTACT ME SECTION */
.contact {
    display: flex;
    flex-wrap: wrap;
    background-color: #8D86C9;
}

.links {
    margin: 50px;
    padding: 0 50px;
    justify-content: center;
    float:right;
}

.links ul {
    padding: 80px;
}

.links ul li {
    display:inline-block;
    text-align: justify;
    list-style: none;
    font-size: 22px;
    padding:10px;
    margin: 0 25px;
    justify-content: center;
}

.links ul li a {
    text-decoration: none;
}

.contact-graphic {
    background-image: url(../images/contact-me.jpg);
}

footer {
    background-color:#cac4ce;
    text-align: right;
    padding: 30px;
}

.applications {
    flex: 0 100%;
}

/* MEDIA QUERY FOR MOBILE */

@media screen and (max-width: 980px) {


    .austin {
        width:100%;
        flex-wrap: wrap;
        font-size: 20px;
        justify-content: center;
        text-align: center;
    }

    .left-set {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 8em;
    }

    .right-set {
        width:100%;
        border-left: none;
        padding: 20px;
    }

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .applications {
        flex-direction: column;
    }

    .showcase {
        flex-wrap: wrap;
        border-top: 3px solid #242038;
    }

    .contact {
        border-top: 3px solid #242038;
        justify-content: center;
        flex-wrap:wrap;
        width: 100%;
    }
    .links ul li a{
          font-size: 30px;
    }

    footer {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    
    .applications img {
        width: 100%;
    }

    .links {
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .austin {
        font-size: 55px;
    }

    footer {
        font-size:50px;
    }
}